{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
{% endblock %}

{% block body %}
	<h1>Bienvenue
		{% if app.user %}
			{{ app.user.firstname}}
		{% endif %}
	</h1>
	{{ parent() }}
		<div class="cards" id="root"></div>
{% endblock %}
