{% extends 'base.html.twig' %}

{% block body %}
<h1>Crème revitalift</h1>
    <div class='ligne-titre'></div>

<h3>Composition:</h3>
<div class='composition'>
    <div class='ingrédients'>
        <ul>
            <li>Acide hyaluronique</li>
            <li>Pro-Xylane</li>
            <li>LHA</li>
        </ul>
    </div>    
    <div class='checkbox'>
        <ul>
            <li><input type="checkbox"></li>
            <li><input type="checkbox"></li>
            <li><input type="checkbox"></li>
        </ul>
    </div>    
</div>    

<h3>Où trouver ces produits ?</h3>
    <div class='lieux'>
            <li>Pharmacie 1</li>
            <li>Pharmacie 2</li>
            <li>Grande surface 1</li>
    </div>    
{% endblock %}
