{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Points, Qrcode
{% endblock %}

{% block body %}
	<div class="qrcode">
		<h1>Compte fidélité</h1><div class='ligne-titre'></div><img class="qrcode_img" src="https://fiches-pratiques.e-marketing.fr/Assets/Img/FICHEPRATIQUE/2021/10/365359/Comment-generer-facilement-code--F.jpg" alt="">
		<h2>11 091 987 points</h2>
	</div>
	<div></div>
{% endblock %}
