@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('root.css');
@import url('login.css');
@import url('navbar.css');
@import url('footer.css');
@import url('register.css');
@import url('produit.css');
@import url('cardsHome.css');
@import url('skin.css');
@import url('profil.css');
@import url('qrcode.css');

*, ::before, ::after {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

h1 {
    font-family: var(--titleF);
    text-align: center;
    margin: 2rem 0;
}

.ligne-titre {
    border-top: 3px solid black;
    width: 20%;
    margin: auto;
    margin-bottom: 3rem;
}