nav {
    background-color: black;
    padding: 0.8rem;
}

nav div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0.5rem;
}

.title-navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav div h1 {
    color: white;
    font-family: var(--titleF);
    text-align: center;
    font-size: 1.2rem;
}

nav div h2 {
    color: white;
    font-family: var(--titleF);
    text-align: center;
    font-size: 0.8rem;
}

.icon-menu-burger img {
    width: 30px;
}

.logout {
    color: white;
    text-decoration: none;
    font-family: var(--titleF);
    text-align: center;
    font-size: 0.8rem;
    cursor: pointer;
}