<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}L'Oreal Paris, produits d'esthétique, parfums, produits de soin{% endblock %}</title>
        <link rel="icon" href="{{ asset('build/images/loreal.png') }}">
        {% block stylesheets %}
            <link rel="stylesheet" href="../assets/app.css">
        {% endblock %}

        {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <main>
            {% block body %}{% endblock %}
        </main>
    </body>
</html>
