<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="{{ asset('/images/loreal.png') }}">

        <title>
            {% block title %}L'Oreal Paris, produits d'esthétique, parfums, produits de soin{% endblock %}
        </title>

        {% block stylesheets %}
            <link rel="stylesheet" href="../assets/app.css">
        {% endblock %}
    </head>

    <body>
        {% include 'includes/_navbar.html.twig' %}
        <main>
            {% block body %}
            {% endblock %}
        </main>
        {% include 'includes/_footer.html.twig' %}
        
        {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </body>
</html>
